@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

.navbar{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.login a{
    font-size: 12px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

.navbar ul{
    display: flex;
    gap: 50px;
}

.navbar ul li{
    list-style: none;

}
.nav-mid li{
    position: relative;
}

.nav-mid li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav-icons{
    width: 13px;
}

.nav-mid li a::after {
	content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    bottom: 0px;
    display: block;
    position: absolute;
    transition: 0.5s ease;
}

.nav-mid li a:hover::after{
    width: 100%;
    display: block;
}