.cart-card-cont{
    width: 100%;
    padding: 10px;
    /* background-color: var(--bg-color-primary-dark); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    margin: 20px 0px;
}

.cart-card-quantity{
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: aqua; */
}

.cart-card-img{
    width: 10rem;
    border-radius: 1rem;
}

.cart-card-qty{
    width: 10rem;
}

.cart-card-quantity-input{
    width: 40%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #bdbdbd50; */
    border-radius: .5rem;
    /* background-color: tomato; */
}

.decreament-cart-item,.increament-cart-item{
    height: 100%;
    background-color: var(--bg-color-button-dark);
    border-radius: .5rem;
    border: none;
    outline: none;
    padding: 1rem;
    /* margin: 0 .5rem; */
}

.productCartCardQuantity{
    border: 1px solid grey;
    height: 100%;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 1rem; */
}

.productCartCardRemoveBtn{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color-button-dark);
    color: #fff;
}